@using Entity.Concrete
@model List<HolidayTour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<html lang="en">
<head>
    <style>

        .button {
            background-color: red;
            color: white;
            border: 1px solid #ff3131;
            padding: 8px 18px;
        }

            .button:hover {
                background-color: #ff3131;
                color: white;
            }

        .button2 {
            background-color: white;
            border: 1px solid red;
            color: red;
            padding: 8px 18px;
            border-radius: 18px;
        }

            .button2:hover {
                background-color: #ff3131;
                box-shadow: 0px 0px 10px red;
                color: white;
            }

        .button1 {
            background-color: red;
            color: white;
            padding: 8px 18px;
            border-radius: 60px;
        }
    </style>
</head>
<body>
    <div class="alert alert-warning alert-common alert-dismissible text-center" role="alert">
        <button type="button" class="close text-center" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <a>
            <span style="font-weight: bold; font-family: 'Times New Roman', Times, serif"> Tatil Planımla </span>
        </a><br />
        <a class="text-center" style="font-family: 'Times New Roman', Times, serif">
            Keşfetmeye<span> Hazır Olun </span>, Tatilinizi Biz Planlayalım
        </a>
    </div>
    <br />
    <section class="products section">

        <div class="container" style="top:-70px;position:relative;border-radius:30px;">
            <div class="row">
                @await Component.InvokeAsync("_SideBarCategoryList")
                <div style="position:relative;top:-40px;">
                    <h4 style="font-family: 'Franklin Gothic Medium'"> Otel Fiyatları ve Rezervasyon Fırsatları</h4>
                    <small>
                        Ana Sayfa >  Oteller ve En Uygun Antalya Tur Fiyatları
                    </small><br /><br />
                    <a href="#" class="button1"><i style="color:white" class="tf-ion-alert-circled"></i></a>
                    <a href="#" class="button2 ">Popüler</a>
                    <a href="#" onclick="sortAscending()" class="button2 ">Fiyata Göre (Artan)</a>
                    <a href="#" onclick="sortDescending()" class="button2 ">Fiyata Göre (Azalan)</a>
                </div>
                <div class="col-md-9 card-body " id="cardsContainer" style="margin-bottom:20px;">
                    @foreach (var item in Model)
                    {
                        <div class="card" style="background-color:white;border:1px solid lightgray;border-radius:20px;height:100%;box-shadow: 0px 0px 10px lightgray">
                            <div class="col-md-4">
                                <div class="card-body  single-product-slider">
                                    <div id='carousel-custom' style="height:100%;" class='carousel slide ' data-ride='carousel'>
                                        <div class='carousel-outer'>
                                            <div class='carousel-inner' style="position:relative;left:-16px;">
                                                <div class='item active'>
                                                    <img src='@item.Image' style="height:200px;width:250px;border-radius:20px;" alt='' />
                                                </div>
                                                <div class='item'>
                                                    <img style="height:200px;width:250px;border-radius:20px;" src='@item.Image2' />
                                                </div>

                                                <div class='item'>
                                                    <img style="height:200px;width:250px;border-radius:20px;" src='@item.Image3' alt='' />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row" style="position:relative;top:10px;">
                                        <div class="card-body">
                                            <a style="font-family: 'Franklin Gothic Medium'">
                                                <svg style="color:#ff3131" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                                                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z" />
                                                </svg>THY
                                            </a>
                                            <a style="position: relative; left: 20px; font-family: 'Franklin Gothic Medium'">
                                                <svg style="color:#ff3131" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                                </svg>İstanbul
                                            </a>
                                            <a style="position: relative; left: 30px; font-family: 'Franklin Gothic Medium'">
                                                <svg style="color:#ff3131" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                </svg> 3 gece && 4 gün
                                            </a>
                                        </div>
                                    </div><br />
                                    <h4 class="card-title"><b style="font-family: 'Franklin Gothic Medium';font-size:20px;">@item.Title </b></h4>
                                    <p class="card-text" style="font-family: 'Franklin Gothic Medium'">
                                        @item.Subtitle
                                    </p>
                                    <small><i style="color:#ff3131" class="tf-ion-checkmark"></i>@item.Comment</small><br />
                                    <small><i style="color:#ff3131" class="tf-ion-checkmark"></i>@item.SubComment</small><br />
                                </div>
                                <div class="col-md-2">
                                    <div id="card">
                                        <div class="price-details text-center" style="position:relative;top:40px;">
                                            <h3 class="price" style="font-size:20px;position:relative;left:40px;">
                                                @item.Price TL<br />
                                            </h3>
                                            <small style="position:relative;left:40px;">Başlayan Fiyatlarla</small><br /><br />
                                            <a href="/HolidayTour/HolidayTourDetail/@item.Id" class="button" style="left:40px;position:relative;box-shadow: 0px 0px 10px red">Ayrıntılar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                    }
                </div><br />
            </div>
        </div>
    </section>
</body>
</html>

