@using Entity
@model HotelTour
@{
    ViewData["Title"] = "HotelTourDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
    <style>

        .button {
            background-color: white;
            color: black;
            border: 1px solid #ff3131;
            padding: 15px 50px;
        }

            .button:hover {
                background-color: #ff3131;
                color: white;
            }
    </style>
</head>
<hr class="message-inner-separator">

<section class="products related-products section" style="background-color:white;">
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class=" col-md-8">
                        <div class="card border-3 border-primary">
                            <a>
                                <img src="@Model.Image2" style="width:750px;height:320px;" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <a>
                                <img src="@Model.Image1" style="width:355px;height:150px;" class="card-img-top" alt="...">
                            </a>
                            <br /><br />
                            <a>
                                <img src="@Model.Image3" style="width:355px;height:150px;" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products section bg-gray">
    <div class="container" style="position:relative;top:-200px;left:50px;">
        <div class="row">
            <div class="col-md-11 ">
                <div class="content" id="aaa" style="background-color:white;border-radius:10px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row" style="position:relative;top:15px;">
                                <div class="card-body" style="left: 40px; position: relative;">
                                    <a style="font-family: 'Franklin Gothic Medium'">
                                        <svg style="color:#ff3131;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>@Model.Citydistrict,@Model.City
                                    </a>
                                </div>
                            </div><br />
                            <h4 style="left: 40px; position: relative" ; class="card-title"><b style="font-family: 'Franklin Gothic Medium';font-size:28px;border-left:5px solid #ff3131;border-radius:10px;">@Model.HotelName </b></h4><br />
                            <p class="card-text" style="font-family: 'Franklin Gothic Medium';left: 40px; position: relative;">
                                @Model.Explanation
                            </p>
                            <small style="left: 40px; position: relative;"><i style="color: #ff3131;" class="tf-ion-checkmark"></i>@Model.HotelFeatures1</small><br />
                            <small style="left: 40px; position: relative;"><i style="color: #ff3131;" class="tf-ion-checkmark"></i>@Model.HotelFeatures2</small><br />
                            @if (Model.HotelFeatures3 == null) { }
                            else
                            {
                                <small><i style="color: #ff3131;left: 40px; position: relative" ; class="tf-ion-checkmark"></i>@Model.HotelFeatures3</small>

                            }
                            <br />
                            <div class="card bg-white" style="position:relative;left:20px;">
                                <div class="card-body">
                                    <a>Otel Bilgisi</a><br />
                                    <small href="aaa">@Model.Explanation2</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="border-left: 1px solid #808080; height: 300px; left: -10px; position: relative">
                                <div class="text-center" style="position:relative;top:100px;">
                                    @if (Model.Offer1 == null) { }
                                    else
                                    {
                                        <div class="card">
                                            <div class="card-body" style="border:2px dotted;position:relative;top:-80px;left:40px;">
                                                <a><b>@Model.Offer1</b> </a>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.Offer2 == null) { }
                                    else
                                    {<div class="card">
                                            <div class="card-body" style="position: relative; top: -75px; left: 40px; border: 2px dotted #8CE864; background-color: #e3f8df ">
                                                <a style="color: #6CB24E "><i style="color: #6CB24E" class="tf-ion-alert-circled"></i>@Model.Offer2</a>
                                            </div>
                                        </div>}

                                    @if (Model.Offer3 == null) { }
                                    else
                                    {<div class="card">
                                            <div class="card-body" style="border: 2px dotted; border-block-color: lightblue;position: relative; top: -70px; left: 40px; background-color: lightblue">
                                                <a>@Model.Offer3</a>
                                            </div>
                                        </div>
                                    }

                                    <b style="font-size:20px;position:relative;left:40px;top:-50px;">
                                        @Model.Price ₺ <br />
                                    </b>
                                    <small style="position:relative;left:40px;top:-50px;">‘den başlayan fiyatlarla</small><br /><br /><br /><br />
                                    <a href="" class="button " style="left:40px;position:relative;top:-50px;background-color:#ff3131;color:white;">Odaları Gör</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</section>

<section class="products section bg-gray">
    <div class="container" style="position:relative;top:-360px;left:50px;">
        <div class="row">
            <div class="col-md-11 ">
                <div class="content" id="aaa" style="background-color:white;border-radius:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="height:150px;width:200px;position:relative;left:-44px;" src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1698760829/Kampanyalar/400x400/SETUR_TurkTelekom_Prime__7_Ekim_400x400px_ryviqz.jpg" />
                                </div>
                                <div class="col-md-8">
                                    <div style="position:relative;top:30px;left:40px;">
                                        <b style="font-family: 'Franklin Gothic Medium';font-size:24px;">
                                            Tatil Planım
                                        </b><br />
                                        <a style="font-family:'Times New Roman', Times, serif;font-size:15px;">
                                            Tatil Planım'ın kazandıran dünyasıyla fırsatları yakala
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="height: 150px; left: -10px; position: relative">
                                <div class="text-center" style="position:relative;top:100px;">
                                    <br /><br />
                                    <a href="/HotelTour/HotelTourDetail/@Model.Id" class="button " style="left:40px;position:relative;top:-50px;">Üye Ol ya da Giriş Yap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</section>
<section class="products section bg-gray">
    <div class="container" style="position:relative;top:-520px;left:-20px">
        <div class="col-md-10">
            <div class="row ">
            </div><br />
        </div>
    </div>
</section>

@await Component.InvokeAsync("_HotelTourDetail", new { id = ViewBag.i })
@await Component.InvokeAsync("_CommentList", new { id = ViewBag.i })



