@using Entity.Concrete
@model List<HotelTour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<html lang="en">
<head>
    <style>
        #fillter {
            height: 120px;
        }
        #inputFilter {
            background-color: #f9f9f9;
            height: 70px;
            width: 243px;
            padding: 12px 20px;
            margin-left: 8px;
            margin-top: 8px;
            border-radius: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 17px;
        }

            #inputFilter:focus {
                border: 1px solid #ff3131;
            }

        .button {
            background-color: white;
            color: black;
            border: 1px solid #ff3131;
            padding: 8px 18px;
        }

            .button:hover {
                background-color: #ff3131;
                color: white;
            }

        .button2 {
            background-color: white;
            color: black;
            padding: 8px 18px;
            border-radius: 18px;
        }

            .button2:hover {
                background-color: #ff3131;
                color: white;
            }

        .button1 {
            background-color: white;
            color: black;
            padding: 8px 18px;
            border-radius: 60px;
        }

            .button1:hover {
                background-color: #ff3131;
                color: white;
            }
    </style>
</head>

<body id="body">
    <section class="products section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget product-category">
                        <div class="panel-group commonAccordion">
                            <div class="panel panel-default">
                                <div class="card" id="fillter">
                                    <h4 class="panel-title">
                                        <a style="font-family: 'Times New Roman', Times, serif; font-weight: bold">
                                            Otel Adı
                                        </a>
                                    </h4>
                                    <input id="inputFilter" placeholder="Otel adı ile arayın..." type="text" /><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class="card" style="position:relative;top:-50px;">
                        <a href="/Destination/DestinationDetail/">
                            <img src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1655405626/%C3%9Cr%C3%BCn%20Listeleme/Otel/Bodrum%20Otelleri/Kempinski_Bodrum_mb1r8h.jpg" style="width:848px;height:280px;" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <br /><br />
                    <div style="position:relative;top:-40px;">
                        <h4 style="font-family: 'Franklin Gothic Medium'">Antalya Otelleri Fiyatları ve Rezervasyon Fırsatları</h4>
                        <small>
                            Ana Sayfa > Antalya Otelleri ve En Uygun Antalya Otel Fiyatları
                        </small><br /><br />
                        <a href="#" class="button1"><i style="color:black" class="tf-ion-alert-circled"></i></a>
                        <a href="#" class="button2 ">Popüler</a>
                        <a href="#" class="button2 ">Fiyata Göre (Artan)</a>
                        <a href="#" class="button2 ">Fiyata Göre (Azalan)</a>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="content" id="aaa" style="background-color:white">
                            <div class="col-md-4">
                                <div class="card-body  single-product-slider">
                                    <div id='carousel-custom' style="height:300px;width:250px;" class='carousel slide ' data-ride='carousel'>
                                        <div class='carousel-outer'>
                                            <div class='carousel-inner'>
                                                <div class='item active'>
                                                    <img src='@item.Image1' style="height:300px;width:250px;" alt='' />
                                                </div>
                                                <div class='item'>
                                                    <img style="height:300px;width:250px;" src='@item.Image2' />
                                                </div>

                                                <div class='item'>
                                                    <img style="height:300px;width:250px;" src='@item.Image3' alt='' />
                                                </div>
                                            </div>
                                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                                <i class="tf-ion-ios-arrow-left"></i>
                                            </a>
                                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                                <i class="tf-ion-ios-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row" style="position:relative;top:15px;">
                                        <div class="card-body">
                                            <a style="font-family: 'Franklin Gothic Medium'">
                                                <svg style="color:#ff3131" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                                </svg>@item.Citydistrict,@item.City
                                            </a>
                                        </div>
                                    </div><br />
                                    <h4 class="card-title"><b style="font-family: 'Franklin Gothic Medium';font-size:21px;">@item.HotelName </b></h4>
                                    <p class="card-text" style="font-family: 'Franklin Gothic Medium'">
                                        @item.Explanation
                                    </p>
                                    <small><i style="color: #ff3131" class="tf-ion-checkmark"></i>@item.HotelFeatures1</small><br />
                                    <small><i style="color: #ff3131" class="tf-ion-checkmark"></i>@item.HotelFeatures2</small><br />
                                    @if (item.HotelFeatures3 == null) { }
                                    else
                                    {
                                        <small><i style="color: #ff3131" class="tf-ion-checkmark"></i>@item.HotelFeatures3</small>

                                    }

                                    <hr style="border: 1px solid #ff3131; width:50px;" />
                                    <small>Tur Firması :</small>
                                    <div class="card bg-white" style="border-left: 3px solid #ff3131;border-radius:5px;">
                                        <div class="card-body">
                                            <img src="https://cdn2.setur.com.tr/image/promotions/credit_card.png" />
                                            <a href="aaa">KoçAilem Yurt Dışı Tur (%2)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card" style="border-left: 1px solid #808080; height: 280px">
                                        <div class="text-center" style="position:relative;top:100px;">
                                            @if (item.Offer1 == null) { }
                                            else
                                            {
                                                <div class="card">
                                                    <div class="card-body" style="border:2px dotted;position:relative;top:-80px;left:40px;">
                                                        <a><b>@item.Offer1</b> </a>
                                                    </div>
                                                </div>
                                            }
                                            @if (item.Offer2 == null) { }
                                            else
                                            {<div class="card">
                                                    <div class="card-body" style="position: relative; top: -75px; left: 40px; border: 2px dotted #8CE864; background-color: #e3f8df ">
                                                        <a style="color: #6CB24E "><i style="color: #6CB24E" class="tf-ion-alert-circled"></i>@item.Offer2</a>
                                                    </div>
                                                </div>}

                                            @if (item.Offer3 == null) { }
                                            else
                                            {<div class="card">
                                                    <div class="card-body" style="border: 2px dotted; border-block-color: lightblue;position: relative; top: -70px; left: 40px; background-color: lightblue">
                                                        <a>@item.Offer3</a>
                                                    </div>
                                                </div>
                                            }

                                            <b style="font-size:20px;position:relative;left:40px;top:-50px;">
                                                @item.Price ₺ <br />
                                            </b>
                                            <small style="position:relative;left:40px;top:-50px;">‘den başlayan fiyatlarla</small><br /><br />
                                            <a href="/HotelTour/HotelTourDetail/@item.Id" class="button " style="left:40px;position:relative;top:-50px;">Ayrıntılar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    }
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.0.slim.js"
        integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c="
        crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#inputFilter").on("keyup", function () {
            var name = $(this).val().toLowerCase();
            $("#aaa ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(name) > -1);
            });
        });
    });
</script>

