@model TraversalCore.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml")
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="position:relative;top:-150px;">
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="pull-left text-center">
                            <img class="media-object user-img" src="@Model.ImageUrl">
                        </div>
                        <div class="media-body">
                            <ul class="user-profile-list" style="position:relative;top:-20px;">
                                <li><span>Ad Soyad :</span>@Model.Name @Model.Surname </li>
                                <li><span>Kullanıcı Adı :</span>@Model.UserName </li>
                                <li><span>Ülke :</span>TR</li>
                                <li><span>Email :</span>@Model.Mail</li>
                                <li><span>Telefon N. :</span>@Model.Phonenumber</li>
                                <li><span>Doğum T. :</span>Dec ,22,1991</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



