@using TraversalCore.Models
@model CategoryViewModel


@foreach (var item in Model.Category)
{
    <li class="dropdown dropdown-slide">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="font-family:'Times New Roman', Times, serif" data-delay="350"
           role="button" aria-haspopup="true" aria-expanded="false">
            @item.CategoryName <span class="tf-ion-ios-arrow-down"></span>
        </a>
        <div class="dropdown-menu">
            <div class="row">
                @foreach (var itemm in Model.Subheading.Where(x => x.CategoryId == item.Id))
                {
                    <div class="col-lg-4 col-md-6">
                        <ul>
                            <li class="dropdown-header" style="font-family: 'Times New Roman', Times, serif; color: #ff3131;font-size:15px;" >@itemm.SubheadingName</li>
                            <li role="separator" class="divider"></li>
                            @foreach (var subcategory in Model.Subcategory.Where(x => x.SubheadingId == itemm.Id))
                            {
                                @if (item.CategoryName == "Tur")
                                {
                                    <li><a style="font-family:'Times New Roman', Times, serif" href="/HolidayTour/Index/@subcategory.Id">@subcategory.CategoryName</a></li>

                                }
                                else if (item.CategoryName == "Gemi")
                                {
                                    <li><a style="font-family:'Times New Roman', Times, serif" href="/ShipTour/Index/@subcategory.Id">@subcategory.CategoryName</a></li>
                                }
                                else
                                {
                                    <li><a style="font-family:'Times New Roman', Times, serif" href="/HotelTour/Index/@subcategory.Id">@subcategory.CategoryName</a></li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </li>
}

