
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

 @Html.Partial("/Views/AdminLayoutPartial/_PartialHeader.cshtml")
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                @Html.Partial("/Views/AdminLayoutPartial/_PartialAppBrandDemo.cshtml")

                <div class="menu-inner-shadow"></div>

                @Html.Partial("/Views/AdminLayoutPartial/_PartialSideBar.cshtml")
            </aside>
            <div class="layout-page">

                @Html.Partial("/Views/AdminLayoutPartial/_PartialNavbar.cshtml")
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">

                        @RenderBody()
                    </div>

                    @Html.Partial("/Views/AdminLayoutPartial/_PartialFooter.cshtml")
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    @Html.Partial("/Views/AdminLayoutPartial/_PartialScript.cshtml")
</body>
</html>
