@using Entity.Concrete
@model HotelTourDetail

<section class="products section bg-gray">
    <div class="container" style="position:relative;top:-680px;left:50px;">
        <div class="row">
            <div class="col-md-11 ">
                <div class="content" id="aaa" style="background-color:white;border-radius:10px;">
                    <a style="font-family: 'Franklin Gothic Medium';font-size:25px;left:30px;top:20px;position:relative">Otel Özellikleri</a><br />
                    <div class="row" style="position: relative;top: 50px; height: 170px;">
                        <div class="col-md-2 text-center">
                            <svg style="color:dodgerblue" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures1</a>
                        </div>
                        <div class="col-md-2 text-center">
                            <svg style="color:dodgerblue" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures2</a>
                        </div>
                        <div class="col-md-2 text-center">
                            <svg style="color:dodgerblue" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures3</a>
                        </div>
                        <div class="col-md-2 text-center">
                            <svg style="color:dodgerblue" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures4</a>
                        </div>
                        <div class="col-md-2 text-center">
                            <svg style="color:dodgerblue" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures5</a>
                        </div>
                        <div style="color:dodgerblue" class="col-md-2 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-umbrella" viewBox="0 0 16 16">
                                <path d="M8 0a.5.5 0 0 1 .5.5v.514C12.625 1.238 16 4.22 16 8c0 0 0 .5-.5.5-.149 0-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394A3.166 3.166 0 0 0 13 7.5c-.638 0-1.178.213-1.564.434a3.484 3.484 0 0 0-.555.394l-.025.023-.003.003s-.204.146-.353.146-.352-.145-.352-.145l-.004-.004-.025-.023a3.484 3.484 0 0 0-.555-.394 3.3 3.3 0 0 0-1.064-.39V13.5H8h.5v.039l-.005.083a2.958 2.958 0 0 1-.298 1.102 2.257 2.257 0 0 1-.763.88C7.06 15.851 6.587 16 6 16s-1.061-.148-1.434-.396a2.255 2.255 0 0 1-.763-.88 2.958 2.958 0 0 1-.302-1.185v-.025l-.001-.009v-.003s0-.002.5-.002h-.5V13a.5.5 0 0 1 1 0v.506l.003.044a1.958 1.958 0 0 0 .195.726c.095.191.23.367.423.495.19.127.466.229.879.229s.689-.102.879-.229c.193-.128.328-.304.424-.495a1.958 1.958 0 0 0 .197-.77V7.544a3.3 3.3 0 0 0-1.064.39 3.482 3.482 0 0 0-.58.417l-.004.004S5.65 8.5 5.5 8.5c-.149 0-.352-.145-.352-.145l-.004-.004a3.482 3.482 0 0 0-.58-.417A3.166 3.166 0 0 0 3 7.5c-.638 0-1.177.213-1.564.434a3.482 3.482 0 0 0-.58.417l-.004.004S.65 8.5.5 8.5C0 8.5 0 8 0 8c0-3.78 3.375-6.762 7.5-6.986V.5A.5.5 0 0 1 8 0zM6.577 2.123c-2.833.5-4.99 2.458-5.474 4.854A4.124 4.124 0 0 1 3 6.5c.806 0 1.48.25 1.962.511a9.706 9.706 0 0 1 .344-2.358c.242-.868.64-1.765 1.271-2.53zm-.615 4.93A4.16 4.16 0 0 1 8 6.5a4.16 4.16 0 0 1 2.038.553 8.688 8.688 0 0 0-.307-2.13C9.434 3.858 8.898 2.83 8 2.117c-.898.712-1.434 1.74-1.731 2.804a8.687 8.687 0 0 0-.307 2.131zm3.46-4.93c.631.765 1.03 1.662 1.272 2.53.233.833.328 1.66.344 2.358A4.14 4.14 0 0 1 13 6.5c.77 0 1.42.23 1.897.477-.484-2.396-2.641-4.355-5.474-4.854z" />
                            </svg><br />
                            <a class="text-center">@Model.HotelFeatures6</a>
                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</section>
<section class="products section ">
    <div class="container" style="position:relative;top:-840px;left:50px;">
        <div class="row">
            <div class="col-md-11 ">
                <div class="content" id="aaa" style="background-color:white;border-radius:10px;">
                    <a style="font-family: 'Franklin Gothic Medium';font-size:20px;left:30px;top:20px;position:relative;color:#ff3131">1. Oda</a><br />
                    <hr />
                    <div class="row" style="position: relative;top: 50px;height:450px;">
                        <div class="container">
                            <a style="font-family: 'Franklin Gothic Medium';font-size:20px;left:30px;position:relative;top:-50px;">Oda Seçenekleri</a><br /><br />
                            <div class="row bg-gray" style="position: relative;top:-50px;left:50px;width:970px;height:370px;">
                                <div class="col-md-5">
                                    <div class="single-product-slider" style="position:relative;top:20px;">
                                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                                            <div class="container">
                                                <a style="font-family: 'Franklin Gothic Medium';font-size:25px;left:30px;position:relative;">Standart Oda</a><br /><br />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class='carousel-outer'>
                                                            <!-- me art lab slider -->
                                                            <div class='carousel-inner' style="height:250px;width:360px;">
                                                                <div class='item active'>
                                                                    <img src="@Model.Image1" alt=''  />
                                                                </div>
                                                                <div class='item'>
                                                                    <img src="@Model.Image2" alt=''  />
                                                                </div>

                                                                <div class='item'>
                                                                    <img src="@Model.Image3" alt=''  />
                                                                </div>
                                                            </div>
                                                            <a style="position:relative;top:-170px;" class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                                                <i class="tf-ion-ios-arrow-left"></i>
                                                            </a>
                                                            <a style="position:relative;top:-170px;left:327px;" class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                                                <i class="tf-ion-ios-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                                                <img style="width:150px;height:120px;" src="@Model.Image1" />
                                                            </li>
                                                            <li data-target='#carousel-custom' data-slide-to='1'>
                                                                <img style="width:150px;height:120px;" src="@Model.Image2" />
                                                            </li>
                                                            <li data-target='#carousel-custom' data-slide-to='2'>
                                                                <img style="width:150px;height:120px;" src="@Model.Image3" />
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="single-product-details" style="position:relative;top:230px;">
                                        <p style="font-family: 'Franklin Gothic Medium';font-size:15px;left:30px;position:relative;">Oda Özellikleri</p>
                                        <a class="btn btn-main" style="background-color:white;color:black">Emanet Kasası</a>
                                        <a class="btn btn-main" style="background-color:white;color:black">Elbise Dolabı</a>
                                        <a class="btn btn-main" style="background-color:white;color:black">Split Klima</a><br />

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</section>

