@using Entity.Concrete
@model List<SubAbout>

<section class="products related-products section bg-gray" style="position:relative;top:-300px;">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class=" col-md-3">
                            <div class="card border-3 border-primary">
                                <a>
                                    <img src="@item.Image" style="width:300px;height:450px;top:100px;position:relative" class="card-img-top" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="card">
                                <div class="card">
                                    <h4 class="card-title"><a style="font-family: 'Franklin Gothic Medium';"><b style="color:red;font-size:35px;">@item.Title <br /></b>@item.Title2 </a></h4>
                                    <p>@item.Description.</p>
                                    <p>@item.Comment</p>
                                    <br />
                                    <img style="width:50px;height:50px;" src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1656917447/Ana%20Sayfa/Neden%20Seturdan%20Almal%C4%B1y%C4%B1m/diploma_3x_ccfjbl.png" />
                                    <a>
                                        <b> Fiyat Garantisi</b>
                                    </a>
                                    <br /><br />
                                    <img style="width:50px;height:50px;" src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1656917447/Ana%20Sayfa/Neden%20Seturdan%20Almal%C4%B1y%C4%B1m/secure-payment_3x_fpm225.png" />
                                    <a>
                                        <b> Güvenli Alışveriş</b>
                                    </a>
                                    <br /><br />
                                    <img style="width:50px;height:50px;" src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1656917447/Ana%20Sayfa/Neden%20Seturdan%20Almal%C4%B1y%C4%B1m/in-love_3x_twhumf.png" />
                                    <a>
                                        <b>Müşteri Memnuniyeti</b>
                                    </a>
                                    <br /><br />
                                    <img style="width:50px;height:50px;" src="https://seturcdn-res.cloudinary.com/image/upload/q_auto/f_auto/v1656917447/Ana%20Sayfa/Neden%20Seturdan%20Almal%C4%B1y%C4%B1m/refund_3x_evrytk.png" />
                                    <a>
                                        <b> İptal İade</b>
                                    </a>
                                    <br /><br />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>